@font-face 
    font-family: 'Roboto'
    src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet") 

.header
    display: flex
    height: 40%
    background-color: #6d6c65

.logo
    margin-left: 256.5%
    margin-top: 4%
    margin-bottom: -7%
    width: 40%

    img
        max-width: 100%

.title
    margin-left: 245.5%
    margin-top: 2%
    margin-bottom: -5%
    width: 80%
    font-family: 'Impact'
    font-size: 20px
    font-weight: bold
    -webkit-text-stroke: 0.8px black
    color: white
    word-spacing: 0.1em


a
    text-decoration: none
    color: inherit
    font-family: 'Roboto'
    font-size: 25px
    font-weight: bold

.menu
    width: 90%
    float: left
    margin-top: 1.8%
    margin-left: -5.5%
    ul
        li
            -webkit-text-stroke: 0.8px white
            color: red
            text-decoration: none
            list-style: none
            float: left
            text-align: center
            word-spacing: 0.5em
            
