section
  background-image: url("../../../public/fondo.jpg")
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  height: 102vh
  margin: 0
  
body
  display: flex
  height: 100vh
  font-family: 'Impact'
  text-align: center

table
  margin: auto
  

th, td
  width: 65px
  height: 65px
  text-align: center

th
  background-color: #808088
  font-family: 'Impact'
  font-size: 20px
  font-weight: bold
  -webkit-text-stroke: 0.8px black
  color: white
  word-spacing: 0.1em

td
  &:hover
    background-color: #d1ecf1
    cursor: pointer

a img
  width: 75px
  height: 75px
